/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-nov-2020, 1:00:10
    Author     : Valencia
*/

#contenedor {
    background: #34ce57;    
    overflow: hidden;
        
}
#izq{
    float: left;    
    width: 300px;
    margin: 40px;
}
#der{
    float: right;
    width: 760px;
    margin: 40px;
}
#apo{
    float: left;
    width: 200px;
    margin: 30px;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
}